{% extends 'shop/basic.html'%}
{%block title%}About Us{% endblock %}
{%block body%}

<div class="jumbotron">
 <div class="container">
    <h1 class="display-3">KVPSTORE</h1>
    <p>KVPSTORE is a social media and social networking service owned by the American technology conglomerate KVP Platforms. Created in 2004 by Pandya Kashyap with four other Harvard College students and roommates Eduardo Saverin, Andrew McCollum, Dustin Moskovitz, and Chris Hughes, its name derives from the face book directories often given to American university students. Membership was initially limited to Harvard students, gradually expanding to other North American universities. Since 2006, Facebook allows everyone to register from 13 years old (or older), except in the case of a handful of nations, where the age limit is 14 years.[6] As of December 2022, Facebook claimed 3 billion monthly active users.[7] As of October 2023, Facebook ranked as the 3rd most visited website in the world, with 22.56% of its traffic coming from the United States.[8][9] It was the most downloaded mobile app of the 2010s</p>
 </div>
</div>
{% endblock %}